<div id="homepage">
  <div class="page">
    <div class="main-grid">

      <div class="row">
      <div class="col"><div class="test">Grid Test</h1></div></div>
      </div>

      <div class="row">
        <div class="col span6 mini"><div class="test">2 Columns mini</div></div>
        <div class="col span6 mini"><div class="test">2 Columns mini</div></div>
      </div>
      <div class="row">
        <div class="col span6"><div class="test">2 Columns normal</div></div>
        <div class="col span6"><div class="test">2 Columns normal</div></div>
      </div>
      <div class="row">
        <div class="col span6 wide"><div class="test">2 Columns wide</div></div>
        <div class="col span6 wide"><div class="test">2 Columns wide</div></div>
      </div>

      <div class="row">
        <div class="col span4"><div class="test">3 Columns</div></div>
        <div class="col span4"><div class="test">3 Columns</div></div>
        <div class="col span4"><div class="test">3 Columns</div></div>
      </div>

      <div class="row">
        <div class="col span4"><div class="test">1:2 split</div></div>
        <div class="col span8"><div class="test">1:2 split</div></div>
      </div>

      <div class="row">
        <div class="col span8"><div class="test">2:1 split</div></div>
        <div class="col span4"><div class="test">2:1 split</div></div>
      </div>

      <div class="row">
        <div class="col span3"><div class="test">4 Columns</div></div>
        <div class="col span3"><div class="test">4 Columns</div></div>
        <div class="col span3"><div class="test">4 Columns</div></div>
        <div class="col span3"><div class="test">4 Columns</div></div>
      </div>
      <div class="row">
        <div class="col span3 wide"><div class="test">4 Columns wide</div></div>
        <div class="col span3 wide"><div class="test">4 Columns wide</div></div>
        <div class="col span3 wide"><div class="test">4 Columns wide</div></div>
        <div class="col span3 wide"><div class="test">4 Columns wide</div></div>
      </div>

      <div class="row">
        <div class="col span7"><div class="test">7:5 split</div></div>
        <div class="col span5"><div class="test">7:5 split</div></div>
      </div>

      <div class="row">
      <div class="col span2 asym"><div class="test">2-7-3 split</div></div>
        <div class="col span7 wide"><div class="test">2-7-3 split</div></div>
        <div class="col span3 wide asym"><div class="test">2-7-3 split</div></div>
      </div>

      <div class="row">
        <div class="col span2"><div class="test">6 Columns</div></div>
        <div class="col span2"><div class="test">6 Columns</div></div>
        <div class="col span2"><div class="test">6 Columns</div></div>
        <div class="col span2"><div class="test">6 Columns</div></div>
        <div class="col span2"><div class="test">6 Columns</div></div>
        <div class="col span2"><div class="test">6 Columns</div></div>
      </div>

    </div>
  </div>
</div>