<div id="homepage">
  <div class="page">
    <div class="main-grid">

      <div class="row">
        <div class="col">
          <% #Main section %>
          <h1 class="title-max">Bitlist</h1>
          <h2>Local bitcoin classifieds</h2>
          <p>Buy and sell stuff locally with bitcoins</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="step location">
          <h2>Find listings within 
          <select>
            <option>10</option>
            <option>25</option>
            <option selected="selected">50</option>
            <option>100</option>
            <option>250</option>
          </select>
          miles of <input type="text" name="location" placeholder="Enter a city or ZIP code">
        </h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col center hidden-area">
          <div class="step">
            <% #Sell section %>
            <div class="category-cloud">
              <h3>Browse popular categories:</h3>
              <br>
              <a href="/listings/?category=example" class="button cat-tag">Example</a>
              <a href="/listings/?category=example" class="button cat-tag">Example</a>
              <a href="/listings/?category=example" class="button cat-tag">Example</a>
              <a href="/listings/?category=example" class="button cat-tag">Example</a>
              <a href="/listings/?category=example" class="button cat-tag">Example</a>
            </div>
            <a href="/listings/" class="button" style="margin-right: 10px;">See all listings</a>
            <a href="/listings/new" class="button">Post a new listing</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
