<div id="homepage">
  <div class="page">
    <div class="main-grid">

      <div class="flex-row">
      <div class="col"><div class="test">Grid Test</h1></div></div>
      </div>

      <div class="flex-row">
        <div class="col"><div class="test">2 Columns</div></div>
        <div class="col"><div class="test">2 Columns</div></div>
      </div>

      <div class="flex-row">
        <div class="col"><div class="test">3 Columns</div></div>
        <div class="col"><div class="test">3 Columns</div></div>
        <div class="col"><div class="test">3 Columns</div></div>
      </div>

      <div class="flex-row">
        <div class="col"><div class="test">1:2 split</div></div>
        <div class="col span2of3"><div class="test">1:2 split</div></div>
      </div>

      <div class="flex-row">
        <div class="col span2of3"><div class="test">2:1 split</div></div>
        <div class="col"><div class="test">2:1 split</div></div>
      </div>

      <div class="flex-row">
        <div class="col"><div class="test">4 Columns</div></div>
        <div class="col"><div class="test">4 Columns</div></div>
        <div class="col"><div class="test">4 Columns</div></div>
        <div class="col"><div class="test">4 Columns</div></div>
      </div>

      <div class="flex-row">
        <div class="col span6of11"><div class="test">6:5 split</div></div>
        <div class="col"><div class="test">6:5 split</div></div>
      </div>

      <div class="flex-row">
      <div class="col"><div class="test">3-1 split</div></div>
        <div class="col span4of6"><div class="test">3-1 split</div></div>
        <div class="col"><div class="test">3-1 split</div></div>
      </div>

    </div>
  </div>
</div>