<div id="listing" v-bind:class="{ 'expanded': sidebarExpanded }">

  <%# Sidebar for search pages may be a different partial...? we'll see %>
  <%= render 'partials/sidebar' %>

  <div class="page">
    <div class="main-grid">
      <div class="row">
        <div class="col">
          <h1>Search listings</h1>
        </div>
      </div>
    </div>
  </div>

</div>