
<%#Vue wrapping element%>
<div>
  <%= render "partials/sidebar" %>
  <div class="page">
    <%= render "partials/contact_bar" %>
    <div class="main-grid">

      <h1>Listings#new</h1>

    </div>
  </div>
</div>
