
<%#Vue wrapping element%>
<div id="listing" v-bind:class="{ 'expanded': sidebarExpanded }">
  <%= render 'partials/sidebar' %>
  <div class="page">
    <%= render 'partials/edit_bar' %>
    <div class="main-grid">

      <h1>Listings#new</h1>

    </div>
  </div>
</div>
