
<%#Vue wrapping element%>
<div id="listing" ng-controller="ListingNewCtrl">
  <%#= render 'partials/sidebar' %>
  <div class="page">
    <%= render 'partials/new_listing_bar' %>
    <div class="main-grid">

      <div class="clip">
        <div class="row">
          <div class="col span12">
            <h1>Step 1: Fill out listing details</h1>
          </div>
        </div>
      </div>

      <div class="clip">
        <div class="row">
          <div class="col span12">
            <h1>Step 2: Add images</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
