<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for posting your listing to Bitlist.</h1>
    <h2>Further action is required to publish your listing! Please follow the link below:</h2>
    <p>
      <a href="<%=@verification_url%>" title="Verify/Edit">SAVE THIS LINK TO VERIFY, EDIT, OR DELETE YOUR LISTNG. PLEASE FOLLOW IT NOW TO VERIFY YOUR LISTING.</a>
    </p>
    <p>
      We luuuv u guyz.
    </p>
    <p>
      - Bitlist Team
    </p>
  </body>
</html>