<div class="contact-bar-wrapper">
  <div class="bar">
    <div class="main-grid">
      <div class="flex-row">

        <%#This stuff should be in a grid layout eventually I think %>
        <button class="light-grey"><<</button>
        <p class="hide-on-mobile"><%= @listing.price %> <%= @listing.currency %> &mdash; <%= @listing.title %></p>
        <button>Contact Seller</button>

      </div>
    </div>
  </div>
</div>
