
<%# Include sass for this partial %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'partials/contact_bar', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<div class="contact-bar-wrapper">
  <div class="bar">
    <div class="main-grid">
      <div class="row">

        <%#This stuff should be in a grid layout eventually I think %>
        <button class="light-grey">&larr;</button>
        <p class="hide-on-mobile"><%= @listing.price %> <%= @listing.currency %> &mdash; <%= @listing.title %></p>
        <button>Contact Seller</button>

      </div>
    </div>
  </div>
</div>
