<div class="footer-wrapper">
  <div class="footer">
    <div class="main-grid">
      <div class="row">
        <div class="col center">
          <a href="/#">Bitlist</a>
          <a href="/about">About</a>
          <a href="/use-policy">Use Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
