
<%# Include sass for this partial %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'partials/footer', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<div class="footer-wrapper">
  <div class="footer">
    <div class="main-grid">
      <div class="row">
        <div class="col center">
          <a href="/">Bitlist</a>
          <a href="/about">About</a>
          <a href="/use-policy">Use Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
