<div class="contact-bar-wrapper">
  <div class="bar menu">
    <div class="main-grid">
      <div class="flex-row">

        <%#This stuff should be in a grid layout eventually I think %>
        <button class="transparent-white">&larr;</button>
        <button>Contact Seller</button>

      </div>
    </div>
  </div>
</div>
