<div class="contact-bar-wrapper">
  <div class="bar">
    <div class="main-grid">
      <div class="flex-row">

        <%#This stuff should be in a grid layout eventually I think %>
        <button class="transparent-white">(x)&nbsp;&nbsp;cancel</button>
        <p class="hide-on-mobile">Create a new listing</p>
        <!-- <button>Publish</button> -->
        
      </div>
    </div>
  </div>
</div>
