
// Variables
$bgcolor: #3a3a3a
$width: 72px
$expanded-width: 250px
$break2: 980px

// Sidebar fixed to left side of the screen
.sidebar
  position: fixed
  top: 0 
  left: 0
  height: 100%
  display: block
  background: $bgcolor
  width: $width
  transition: width 0.1s
  overflow: hidden
  z-index: 1000
  @media ( max-width: $break2 )
    display: none
.expanded .sidebar
  width: $expanded-width
  overflow-y: auto
  display: block

// Adjust page's left padding to fit the sidebar in
.page
  padding-left: $width
  @media ( max-width: $break2 )
    padding-left: 0
  .contact-bar-wrapper
    transition: padding 0.1s
    padding-left: $width
    @media ( max-width: $break2 )
      padding-left: 0
.expanded .page
  @media ( min-width: $break2 )
    padding-left: $expanded-width
  .contact-bar-wrapper
    @media ( min-width: $break2 )
      padding-left: $expanded-width

// Expand button
.sidebar-expand 
  bottom: 12px
  left: 13px
  display: block
  z-index: 1100
  position: fixed
  border: 1px solid #999
  background: $bgcolor
  padding: 8px 14px
  width: 44px
  height: 42px
  @media ( min-width: $break2 )
    transition: background 0.2s, width 0.1s
  &:hover
    background: #484848
  &::after
    // Arrow
    display: block
    content: ""
    position: absolute
    top: 11px
    left: 15px
    border-top: 9px solid transparent
    border-bottom: 9px solid transparent
    border-right: 0
    border-left: 14px solid #999
    transform: rotateZ(0deg)
    transform-origin: 40% 50%
    transition: transform 0.1s
.expanded .sidebar-expand
  width: 220px
  &::after
    // Rotate arrow on expand to point the other way
    transform: rotateZ(180deg)
  
